* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0F0F0F;
    margin-top: 20px;
    margin: 0;
    color: aliceblue;
}
nav{
    height: 145vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
   width: 10px;
 }
 

::-webkit-scrollbar-track {
   background: black;
 }
 
::-webkit-scrollbar-thumb {
   background: #565656;
 }
 
::-webkit-scrollbar-thumb:hover {
   background: #555;
  } 
.topo{
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.topo input{
    width: 50%;
    padding: 15px;
    border-radius: 25px;
    background-color: azure;
}
.topo span{
    display: flex;
    align-items: center;
    height: 100%;
}

.topo img{
    height: 90%;
}

.topo h1{
    font-size: 50px;
    font-family: 'Times New Roman';
}

.container {
    display: flex;
    width: 80%;
}

.videofoco {
    width: 100%;
    margin-right: 20px;
}

.descricao *{
    margin: 20px;
    color: azure;
}

.descricao p{
    font-size: 1.5em;
}

.descricao h2{
    font-size: 2em;
}

.videofoco iframe {
    width: 100%;
    height: 800px;
    border: none;
}

#videosmini {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

#videosmini button {
    width: 100%;
    padding: 1;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: transform 0.3s;
    margin: 1;
}

#videosmini button:hover {
    transform: scale(1.05);
}

#videosmini img {
    width: 100%;
    height: auto;
    display: block;
}

footer{
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1.5em;
}

.perfil {
    border-radius: 100%;
    border-width: 1px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border: solid;
    background-image: url('../assets/perfil.svg');
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 80px 50px 10vh 0;
    width: 200px;
    z-index: 1000;
    color: black;
  }

  .dropdown a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }

  .dropdown a:hover {
    background-color: #f1f1f1;
  }

  .dropdown p {
    padding: 10px;
    margin: 0;
    text-align: center;
  }